<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>User Panel</title>
</head>
<style>
    body {
        background-color: rgb(243, 243, 243);
    }
</style>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="justify-content-start">
                <span class="navbar-brand me-1 ps-2 h1" th:text="${username}"></span>
                <span class="navbar-brand" th:text="'with roles: ' + ${role}"></span>
            </div>
            <div>
                <a class="navbar-brand text-white-50" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
</header>
<div class="d-flex w-auto" style="height: 1000px;">
    <div class="mt-4 w-25 top-25 start-0 bg-white h-100">
        <ul class="nav nav-pills flex-column bg-white">
            <li class="nav-item">
                <a class="nav-link" aria-current="page"
                   th:if="${isAdmin}"
                   th:href="@{/admin}"
                   th:classappend="${#httpServletRequest.requestURI.contains('/admin')} ? 'active'"
                   th:text="'Admin'"></a>
                <a class="nav-link" aria-current="page"
                   th:href="@{/user}"
                   th:classappend="${#httpServletRequest.requestURI.contains('/user')} ? 'active'"
                   th:text="'User'"></a>
            </li>
        </ul>
    </div>
    <div class="container-fluid ps-5 pe-5">
        <div class="container-sm p-3 ms-0 ps-0 fw-bold fs-1">
            User information-page
        </div>
        <nav class="navbar navbar-light bg-light border-top">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">All users</span>
            </div>
        </nav>
        <div class="w-100 min-vh-75 d-flex pt-4 justify-content-center align-items-start bg-white">
            <div class="container-fluid px-4">
                <table class="table bg-white w-100 table-striped">
                    <thead>
                    <tr class="border-top">
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Age</th>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:object="${user}" class="border-top">
                        <td th:text="${user.getId()}">№</td>
                        <td th:text="${user.getFirstName()}">Имя</td>
                        <td th:text="${user.getLastName()}">Фамилия</td>
                        <td th:text="${user.getEmail()}">Почта</td>
                        <td th:text="${user.getAge()}">Возраст</td>
                        <td th:text="${user.getRoles()}">Username</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>